@media screen and (max-width:1005px){
    .navbar{
        position: static;
        margin-bottom: -6.5em;
    }
    
    .logo{
        flex: 100%;
        text-align: center;
        margin-left: 40px;
    }

    .menu{
        display: none;
    }

    .header{
        width: 100%;
    }

    .lado-esquerdo{
        flex: 100%;
        margin: 5%;
        text-align: center;
    }

    .lado-direito{
        display: 100%;
        margin: -2.5em 0.5em 0.5em 0.5em;
        text-align: center;
    }

    .servicos{
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
}