@media screen and (max-width:1005px){
    .navbar{
        position: static;
        margin-bottom: -6.5em;
    }

    .menu{
        display: none;
    }

    .header{
        flex: 100%;
    }

    .lado-esquerdo{
        flex: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-right: 7%;
        margin-bottom: 7%;
    }

    .lado-esquerdo h1 h2 p a{
        text-align: center;
    }

    .lado-direito{
        display: 100%;
        margin: -2.5em 0.5em 0.5em 0.5em;
        text-align: center;
    }

    .lado-direito-img{
        width: 350px;
    }

    .servicos{
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .whats{
        display: none;
    }
}